<div class="grid grid-cols-7">
  <div class="col-span-1 bg-fuchsia-200">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-6 bg-amber-800">
    <app-navbar></app-navbar>
    <!-- <app-event-creation></app-event-creation> -->
    <!-- <app-main></app-main> -->
    <!-- <app-event-list></app-event-list> -->
    <!-- <app-speaker-list></app-speaker-list> -->
    <!-- <app-profile></app-profile> -->
    <!-- <app-calender></app-calender> -->
    <app-locations></app-locations>
    <!-- <app-schedule></app-schedule> -->
    <!-- <app-attend-list></app-attend-list> -->
    <!-- <app-event-details></app-event-details> -->
    <!-- <app-profile-setting></app-profile-setting> -->
    <!-- <app-schedule></app-schedule> -->
    <!-- <app-event-details></app-event-details> -->
    <!-- <app-attend-list></app-attend-list> -->

  </div>
</div>
