<div class="bg-blue-400 container mx-auto px-4 rounded-lg py-5">
  <!-- first-->
  <div class="bg-pink-400 grid-cols-4 gap-2">
    <div class="bg-blue-300 col-span-1">
    </div>
    <div class="bg-blue-300 col-span-1">
    </div>
    <div class="bg-blue-300 col-span-1">
    </div>
    <div class="bg-blue-300 col-span-1">
    </div>
  </div>

  <!--second -->
  <div class="bg-pink-400 grid-cols-4 gap-2">
    <div class="bg-blue-300 col-span-2"></div>
    <div class="bg-blue-300 col-span-2"></div>
  </div>


  <!-- third -->
  <div class="bg-pink-400 grid-cols-4 gap-2">
    <div class="bg-blue-300 col-span-2"></div>
    <div class="bg-blue-300 col-span-2 grid grid-cols-2">
      <div class="bg-pink-400 col-span-1"></div>
      <div class="bg-pink-400 col-span-1"></div>
    </div>
  </div>

  <!-- forth -->
  <div class="bg-pink-400 grid-cols-3 gap-2">
    <div class="col-span-1">
    </div>
    <div class="col-span-1">
    </div>
    <div class="col-span-1">
    </div>
  </div>


  <!-- fifth -->
  <div class="bg-pink-400">
    <table></table>
  </div>

  <!-- sixth -->
  <div class="bg-pink-400 grid-cols-4 gap-2">
    <div class="bg-blue-300 col-span-2"></div>
    <div class="bg-blue-300 col-span-2"></div>
  </div>
</div>
