<aside class="w-64 bg-black text-white flex flex-col justify-between h-full">
  <div>
    <div class="p-6 flex items-center space-x-2">
      <!-- <img src="assets/logo.svg" alt="logo" class="h-8" /> -->
      <span class="text-2xl font-semibold">Dashboard</span>
    </div>

    <ul class="mt-4 space-y-2">
      <li *ngFor="let link of navLinks">
        <a
          [routerLink]="link.path"
          routerLinkActive="bg-gray-800"
          class="flex items-center px-6 py-2 hover:bg-gray-800 transition rounded-md"
        >
          <i [class]="link.icon + ' mr-3 text-lg'"></i>
          <span>{{ link.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
